name: Compile for Windows x64 (minGW)
on: [push]
  # workflow_dispatch:
jobs:
  Build:
    runs-on: windows-2022
    steps:

      - name: Qt installation dir
        id: qt-installation-dir
        run: echo "DIR=%GITHUB_WORKSPACE%\\.." >> $GITHUB_ENV

      - name: Install Qt
        uses: jurplel/install-qt-action@v4.1.1
        with:
            cache: false
            version: 6.9.2
            host: 'windows'
            dir: '${{ env.DIR }}'
            aqtversion: '==3.1.17'
            target: 'desktop'
            arch: 'win64_mingw'
            tools: 'tools_mingw1310'
            modules: 'qtcharts'

      - name: Check MinGW Version
        shell: pwsh
        run: |
            g++ --version
            mingw32-make --version

      - uses: actions/checkout@v4
        with:
          repository: '${{ github.repository }}'
          ref: 'main'

      - name: Debug
        shell: pwsh
        run: |
            Get-ChildItem -Path "D:\a\potaleger"
            Get-ChildItem -Path "D:\a\potaleger\potaleger"
            Get-ChildItem -Path "D:\a\potaleger\Qt\6.9.2\mingw_64"

      - name: Build
        shell: pwsh
        run: |
            mkdir build
            cd build
            qmake -config release ..\potaleger.pro
            mingw32-make V=1
            Get-ChildItem

      - name: Prepare artifact
        shell: pwsh
        run: |
            mkdir artifact
            Copy-Item -Path .\build\release\potaleger.exe    -Destination .\artifact\
            & "D:\a\potaleger\Qt\6.9.2\mingw_64\bin\windeployqt.exe" --release --compiler-runtime --verbose 0 .\artifact\potaleger.exe
            Copy-Item -Path .\install\potaleger.svg          -Destination .\artifact\
            Copy-Item -Path .\install\potaleger.gif          -Destination .\artifact\
            Copy-Item -Path .\install\win2019\potaleger.ico  -Destination .\artifact\
            Copy-Item -Path .\install\readme.md              -Destination .\artifact\
            Copy-Item -Path .\install\infotab1.png           -Destination .\artifact\

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
           name: potaleger01windows
           path: artifact
